# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

BASE_URL="http://localhost:3000"

DB_ROOT_PASS=3463456534
DB_USER=sadn1ck
DB_NAME=shortnr
DB_PORT=5432

DATABASE_URL="postgresql://${DB_USER}:${DB_ROOT_PASS}@postgres:${DB_PORT}/${DB_NAME}?schema=public"